<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>File upload</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <section class="hero is-success is-fullheight">
      <div class="hero-body">
        <div class="container">

          <h1 class="title">
            Wellcome, {{g.user.username}}!
          </h1>
          <h2 class="subtitle">
            Please upload your reaction protocol or reagent index 
          </h2>
            <h3>* Reaction protocol should be a text file (*.txt)</h3>
            <h3>* Reagent index should be Excel named as 'reagent_index.xlsx'</h3>
            <h3>______________________________________________________</h3>
        
            <form action="" enctype="multipart/form-data" method="POST">
              <input type="file" name="file" />
              <input type="submit" value="Upload" />
            </form>  
          </h2>
        </div>
      </div>
    </section>
  </body>
</html>